<html>
  <head>
    <title>SEV app</title>
    <link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <form method="POST" action="/streamer">
            <div class="form-group">
              <label for="fav_streamer">Your favourite streamer:</label>
              <input class="form-control" type="text" name="streamer_name" id="streamer_name"></input>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    
  </body>
</html>